<h1>訪客留名</h1>
<div class='name'>姓名: <br><input type="text" id="name" name="name" /></div><br />
<div class='name'>年齡: <br><input type="number" id="age" name="age" /></div><br />
<div class='name'>性別: <input type="radio" name="gender" value="male">male <input type="radio" name="gender" value="female">female</div><br />
<div class='name'>嗜好: <br><input type="text" id="like" name="like" /></div><br />
<button class="btn-post">登記</button>
