<h1>訪客資料</h1>
<div>
  <span class='name'>Name:</span>
  <span><%= userinfo['name'] %></span>
</div>
<div>
  <span class='name'>Age:</span>
  <span><%= userinfo['age'] %></span>
</div>
<div>
  <span class='name'>Gender:</span>
  <span><%= userinfo['gender'] %></span>
</div>
<div>
  <span class='name'>Like:</span>
  <span><%= userinfo['like'] %></span>
</div>
