<h1>訪客資料</h1>
<div>
  <span class='name'>姓名:</span>
  <span><%= userinfo['name'] %></span>
</div>
<div>
  <span class='name'>年齡:</span>
  <span><%= userinfo['age'] %></span>
</div>
<div>
  <span class='name'>性別:</span>
  <span><%= userinfo['gender'] %></span>
</div>
<div>
  <span class='name'>嗜好:</span>
  <span><%= userinfo['like'] %></span>
</div>
