<h1>User Update</h1>
<div class='name'>Name:</div> <input type="text" placeholder="<%= userinfo['name'] %>" id="name0"/><br />
<div class='name'>Age:</div> <input type="number" placeholder="<%= userinfo['age'] %>" id="age0"/><br />
<div class='name'>Gender:</div> <input type="radio" name="gender" value="male" id="gender0">male <input type="radio" name="gender" value="female" id="gender0">female<br />
<div class='name'>Like:</div> <input type="text" placeholder="<%= userinfo['like'] %>" id="like0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
