h1{
  margin-left: 80px;
}
.question{
  width: 400px;
  margin-left: 80px;
  float: left;
}
.question span{
  font-size: 18px;
  font-weight: bold;
}
.question input{
  margin-top: 20px;
}
#data_send{
  width: 80px;
  height: 20px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
#data_send:active{
  background-color: #bbb;
}
.status{
  font-size: 30px;
  color: red;
}
.info{
  width: 500px;
  height: 500px;
  margin-left: 55%;
  display: none;
}
