body{
  margin: 0px;
  padding: 0px;
}
.header{
  width:100%;
  height:80px;
  background-color:#444;
  /*position:fixed;*/
}
#logo a{
  width: auto;
  height: 20px;
  padding: 10px 20px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 56px;
  text-decoration: none;
  color:#000;
  float: left;
}
.menu{
  width: 80%;
  height: 80px;
  float: right;
}
.menu ul{
  width: 100%;
  margin: 0px;
  padding-left: 30%;
  list-style-type: none;
}
.menu ul li{
  background-color:#444;
  width: 15%;
  height: 50px;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  float: left;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}
.menu ul li a{
  font-family:Arial;
  color: white;
  text-decoration: none;
}
.menu ul li:hover{
  background-color:#888;
  font-size: 24px;
}
.content{
  clear: both;
  width: 100%;
  height: 700px;
  padding-top: 50px;
  background-color:#888;
}
#duck1{
  position:absolute;
  top: 200px;
  left: 500px;
  cursor:move;
}
#duck2{
  position:absolute;
  top: 400px;
  left: 500px;
  cursor:move;
}
#usernew{
  margin-left: 200px;
  float: left;
}
#userinfo{
  width: 340px;
  height: 250px;
  overflow: auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 60%;
  background-color: #c2c2c2
}
#userinfo h1{
  margin: 0;
  margin-left: 35px;
}
#userinfo ul{
  list-style-type: none;
}
#userinfo a{
  font-size: 16px;
  text-decoration: none;
}
#userupdate{
  clear: both;
  margin-top: 10px;
  width:260px;
  height: auto;
  padding: 10px 50px;
  font-size: 20px;
  margin-left: 60%;
  border-radius: 10px;
  background-color: #c2c2c2
}
#userupdate h1{
  margin: 0;
}
.footer{
  clear: both;
  width: 100%;
  height: 180px;
  background-color:#444;
}
.footer .section  {
	width:33%;
  height: 180px;
	text-align:center;
	border-left: 1px solid #c2c2c2;
  float: left;
}
.footer .section p{
  text-align: left;
  font-size: 16px;
  color: gray;
  margin-left: 30%;
}
